* {
  font-family: "Roboto", Helvetica, sans-serif;
}

.ui.menu.nav {
  height: 70px;
  margin-bottom: 0px;
}

.ui.menu.nav a {
  font-size: 1.3rem;
}

.ui.menu.nav .header {
  font-size: 2rem;
  padding: 0 68px;
  color: #0d016b;
}

.ui.menu.nav .header:hover{
  font-size: 2rem;
  padding: 0 68px;
  color: #0d016b;
}

#search i {
  cursor: pointer;
  pointer-events: all; !important
}

.sides {
  background-color: #000;
  height: 100%;
}
