{% extends "base.html" %}

{% block sidecontent %}
    <div class="ui visible inverted left vertical menu push">
      <div class="ui item search">
          <div class="ui icon input">
              <input class="prompt" placeholder="Procurar biscates..." type="text">
              <i class="search icon"></i>
          </div>
          <div class="results"></div>
      </div>

      {% set types = ["Canalizações","Portas"] %}
      {% for type in types %}

      <a class="item">
          {{ type }}
      </a>
      {% endfor %}
  </div>
{% endblock %}

{% block content %}
    <div class="article">
        <br>
        <div class="ui masthead container">
            <h1 class="ui header">Os Biscates mais recentes...</h1>
        </div>
        <br>
        <div class="main ui container">

            {% set tasks = [
            ["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg"]
            ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg"]
            ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg"]
            ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg"]

            ]
            %}
            {% for task in tasks %}

            <a class="ui fluid card " href="http://www.dog.com">
                <div class="content">
                    <div class="header">{{task[0]}}</div>
                    <div class="meta">
                        <span class="category">{{task[1]}}</span>
                    </div>
                    <div class="description">
                        <p>{{task[2]}}</p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author">
                        <img class="ui  avatar big image" src={{task[4]}}> {{task[3]}}
                    </div>
                </div>
            </a>

            {% endfor %}

        </div>
    </div>
{% endblock %}
