{% extends "body-nosidebar.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/task.js') }}"></script>

<form method="POST" class="ui form create-task" action="/new">
    {{ task_form.csrf_token }}
    <div class="required field">
        {{ task_form.title.label }} {{ task_form.title(size=30, required=required) }}
    </div>

    <div class="required field">
        {{ task_form.location.label }} {{ task_form.location(size=30, required=required) }}
    </div>

    <div class="required field">
        {{ task_form.price.label }} {{ task_form.price(size=30, required=required) }}
    </div>

    <div class="field">
        {{ task_form.description.label }} {{ task_form.description(size=30) }}
    </div>

    <div class="ui selection dropdown">
        <input required name="type" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Job Type</div>
        <div class="menu">
            {% for type in task_types %}
                <div class="item" data-value="{{type}}">{{ type }}</div>
            {% endfor %}
        </div>
    </div>

    <input disabled type="submit" value="Go">
</form>



{% endblock %}
