{% extends "body-sidebar.html" %} {% block sidecontent %}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
<br/>
<div class="ui row">
  <img class="ui massive avatar image" style="width: 200px; height: 200px; object-fit: cover;" src={{user.photo}} />
</div>
<br/>
<div class="ui row">
  <h2>{{user.name}} {% if user.certified == true %}<i class="check circle icon blue"></i>{% endif %}</h2>
  <p>
    <i class="at icon grey"></i> {{user.email}}
  </p>
  <p>
    <i class="phone icon grey"></i> {{user.contact}}
  </p>
  <p>
    <i class="map pin icon grey"></i> {{user.address}}
  </p>
</div>
{% endblock %} {% block content %}
<div class="ui row">
  <div class="ui eight wide column">
    <div class="ui row"></div>
    <h2>Descrição</h2>
    <p>
      {% if user.description is none %}
        O utilizador {{user.name}} não possui nenhuma descrição
      {% else %}
        {{user.description}}
      {% endif %}
    </p>
  </div>
</div>
<br/>
<div class="ui row">
  <h2>Biscates Realizados Anteriormente</h2>
  {% for task in tasks %}
  <a class="ui fluid card " href="../task/{{task.id}}">
    <div class="content">
      <div class="header">{{task.title}}</div>
      <div class="meta">
        <span class="category">{{task.type}}</span>
      </div>
      <div class="description">
        <p>{{task.description}}</p>
      </div>
    </div>
    <div class="extra content right aligned">
      <div class='ui rating' data-rating={{task.rating.value}} data-max-rating="5"></div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
