{% extends "body-sidebar.html" %}

{% block sidecontent %}
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
<br/>
<div class="ui row">
    <img class="ui massive avatar image" style="width: 200px; height: 200px; object-fit: cover;" src={{task.user_info.photo}} />
</div>
<br/>
<div class="ui row">
    <h2><a style="color: black" href="../profile?id={{task.user_info.id}}"><h2 class="ui user_name">{{task.user_info.name}} {% if task.user_info.certified == true %}<i class="check circle icon blue"></i>{% endif %}</h2></a></h2>
    <p>
        <i class="at icon grey"></i> {{task.user_info.email}}
    </p>
    <p>
        <i class="phone icon grey"></i> {{task.user_info.contact}}
    </p>
    <p>
        <i class="map pin icon grey"></i> {{task.user_info.address}}
    </p>
</div>
{% endblock %}


{% block content %}
<div class="ui row">
    <div class="ui eight wide column">
        <br>
        <h2>Biscate</h2>
        <div class="ui fluid card">
            <div class="content">
                <div class="header">{{task.title}}</div>
                <div class="meta">
                    <span class="category">{{task.type}}</span>
                </div>
                <div class="description">
                    <p>{{task.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="ui row">
    <h2>Proposta</h2>
    <div class="ui segment">

        <form id="newproposal_form" class="ui form" method="POST" action="/proposal">
            {{ newproposal_form.csrf_token }}
            <div class="field" hidden>
                {{ newproposal_form.user.label }} {{ newproposal_form.user(value=123456) }}
            </div>

            <div class="field">
                {{ newproposal_form.offer.label }} {{ newproposal_form.offer(size=5) }}
            </div>

            <div class="field">
                {{ newproposal_form.description.label }} {{ newproposal_form.description(size=200) }}
            </div>

            <div class="field" hidden>
                {{ newproposal_form.task_id.label }} {{newproposal_form.task_id(value=task.id)}}
            </div>

            <div class="field" hidden>
                {{ newproposal_form.type.label }} {{ newproposal_form.type(value='create') }}
            </div>

            <input type="submit" value="Criar" class="ui button" />

        </form>


    </div>
    {% set tasks = [
    ["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg","22"]
    ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg","12"]
    ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg","6"]
    ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg","8"]

    ]
    %}
    {% for task in tasks %}

    <div class="ui fluid card ">
        <div class="content">
            <div class="header">{{task[0]}}</div>
            <div class="meta">
                <span class="category">{{task[1]}}</span>
                <br>
                <span class="category"> {{task[5]}}  <i class="small euro sign icon"> </i></span>
            </div>
            <br>
            <div class="description">
                <p>{{task[2]}}</p>
            </div>
        </div>

        <div class="extra content">
            <div class="right floated author">
                <img class="ui  avatar big image" src={{task[4]}}> {{task[3]}}
            </div>

            <div class="left ui buttons">
                <button class="ui positive button">
                    <i class="small check icon"> </i>
                    Aceitar
                </button>
                <div class="ou"></div>
                <button class="ui negative button">
                    <i class="small ban icon"> </i>
                    Rejeitar
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
