{% extends "base.html" %}

{% block content %}
<div class="main ui container">

    {% set tasks = [
    ["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg"]
    ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg"]
    ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg"]
    ,["title","category","aprovado","Jorge Jesus","http://www2.pictures.zimbio.com/gi/Real+Madrid+CF+v+Sporting+Clube+de+Portugal+QSMFTsZhHuml.jpg"]

    ]
    %}
    {% for task in tasks %}

    <div class="ui fluid card ">
        <div class="content">
            <div class="header">{{task[0]}}</div>
            <div class="meta">
                <span class="category">{{task[1]}}</span>
            </div>
            <div class="description">
                <p>{{task[2]}}</p>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated author">
                <img class="ui  avatar big image" src={{task[4]}}> {{task[3]}}
            </div>

            <div class="left ui buttons">
                <button class="ui positive button">
                    <i class="small check icon"> </i>
                    Aceitar
                </button>
                <div class="ou"></div>
                <button class="ui negative button">
                    <i class="small ban icon"> </i>
                    Rejeitar
                </button>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}